{% extends 'template.html' %}
{% import 'bootstrap/wtf.html' as wtf%}

{% block title %}
    {{ super() }}
    Tablas  
{% endblock %}

{% block content %}
    <div class="container">
        <div class="filter">
                {{wtf.quick_form(contex.filter)}}
        </div>
        <div>
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th scope="col">NO_DOCU</th>
                        <th scope="col">GRUPO</th>
                        <th scope="col">NO_CLIENTE</th>
                        <th scope="col">FECHA</th>
                        <th scope="col">TOTAL</th>
                        <th scope="col">COD_CONTROL</th>
                        <th scope="col">CENTROD</th>
                        <th scope="col">TIPO_DOC</th>
                        <th scope="col">RUTA</th>
                        <th scope="col">NO_ORDEN</th>
                        <th scope="col">DESCARGAR</th>
                        <th scope="col">IMPRIMIR</th>
                    </tr>
                </thead>
                {% for data in contex.DATA %}
                <tr>
                    <td>{{data[0]}}</td>
                    <td>{{data[1]}}</td>
                    <td>{{data[2]}}</td>
                    <td>{{data[3].strftime('%d/%m/%Y')}}</td>
                    <td>{{data[4]}}</td>
                    <td>{{data[5]}}</td>
                    <td>{{data[6]}}</td>
                    <td>{{data[7]}}</td>
                    <td>{{data[8]}}</td>
                    <td>{{data[9]}}</td>    
                    <td><a href="/download/{{data[0]}}/{{data[1]}}/{{data[2]}}/{{data[6]}}/{{data[7]}}/{{data[8]}}/{{data[9]}}">Descargar</a></td>
                    <td><a href="/print/{{data[0]}}/{{data[1]}}/{{data[2]}}/{{data[6]}}/{{data[7]}}/{{data[8]}}/{{data[9]}}">Imprimir</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
