{% extends 'template.html' %}
{% import 'bootstrap/wtf.html' as wtf%}

{% block body %}
    <h1>Tabla de datos</h1>
    <div class="content">
        <div class="filter">
                {{wtf.quick_form(contex.filter)}}
        </div>
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>NO_DOCU</th>
                        <th>GRUPO</th>
                        <th>NO_CLIENTE</th>
                        <th>FECHA</th>
                        <th>TOTAL</th>
                        <th>COD_CONTROL</th>
                        <th>CENTROD</th>
                        <th>TIPO_DOC</th>
                        <th>RUTA</th>
                        <th>NO_ORDEN</th>
                        <th>DESCARGAR</th>
                        <th>IMPRIMIR</th>
                    </tr>
                </thead>
                {% for data in contex.DATA %}
                <tr>
                    <td>{{data[0]}}</td>
                    <td>{{data[1]}}</td>
                    <td>{{data[2]}}</td>
                    <td>{{data[3].strftime('%d/%m/%Y')}}</td>
                    <td>{{data[4]}}</td>
                    <td>{{data[5]}}</td>
                    <td>{{data[6]}}</td>
                    <td>{{data[7]}}</td>
                    <td>{{data[8]}}</td>
                    <td>{{data[9]}}</td>    
                    <td><a href="/download/{{data[0]}}/{{data[1]}}/{{data[2]}}/{{data[6]}}/{{data[7]}}/{{data[8]}}/{{data[9]}}">Descargar</a></td>
                    <td><a href="/print/{{data[0]}}/{{data[1]}}/{{data[2]}}/{{data[6]}}/{{data[7]}}/{{data[8]}}/{{data[9]}}">Imprimir</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
