<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css', _external=True) }}">
</head>

<body>
    <header>
        <div class="logo">
            este es un logo
        </div>
        <div class="title">
            <h1>FACTURA</h1>
        </div>
        <div class="data">
            <div class="borde datos">
                <p><b>NIT</b> :{{contex.nit[0]}}</p>
                <p><b>Factura Nº</b> :{{contex.head[1]}}</p>
                <p><b>Autorización</b> :{{contex.head[13]}}</p>
            </div>
            <h3>ORIGINAL</h3>
            <p class="texto">{{contex.arfapar[1]}}</p>
        </div>
    </header>
    <div class="borde cliente">
        <div>
            <p><b>NIT/C.I.</b>: {{contex.head[5]}}</p>
            <p><b>CLIENTE</b> : {{contex.head[6]}}</p>
        </div>
        <div class="fecha">La Paz , {{contex.date}} </div>
    </div>
    <div class="detalle">
        <table border>
            <thead>
                <tr class="fila">
                    <th rowspan="2" class="datos fila1">Detalle</th>
                    <th rowspan="2" class="datos">Nivel</th>
                    <th colspan="2" class="datos">Contrato</th>
                    <th rowspan="2" class="datos">Dur.Seg.</th>
                    <th rowspan="2" class="datos">Nº de Pases</th>
                    <th rowspan="2" class="datos">Precio Seg.</th>
                    <th rowspan="2" class="datos">Precio</th>
                </tr>
                <tr class="fechas">
                    <th class="datos"> Inicio </th>
                    <th class="datos"> Fin </th>
                </tr>
            </thead>
            <tr class="fila datos-factura">
                <td class="datos fila1">Por publicidad emitida</td>
                <td class="datos"></td>
                <td class="datos"></td>
                <td class="datos"></td>
                <td class="datos"></td>
                <td class="datos"></td>
                <td class="datos"></td>
                <td class="datos"></td>
            </tr>
            {% for data in contex.detail %}
            <tr class="fila datos-factura">
                <td class="datos fila1">{{data[15]}} {{data[9]}}</td>
                <td class="datos">{{data[8]}}</td>
                <td class="datos">{{data[11].strftime('%d/%m/%Y')}}</td>
                <td class="datos">{{data[12].strftime('%d/%m/%Y')}}</td>
                <td class="datos">{{data[10]}}</td>
                <td class="datos">{{data[13]}}</td>
                <td class="datos">{{data[16]}}</td>
                {% if (((data[14]%1)*100)| round | int )%10 == 0 %}
                <td class="datos">{{"{:,}".format(data[14] | round(2))}}0</td>
                {% else %}
                <td class="datos">{{"{:,}".format(data[14] | round(2))}}</td>
                {% endif%}
            </tr>
            {% endfor %}
            <tr class="fila">
                <td class="datos fila1"></td>
                <td class="datos"></td>
                <td class="datos"></td>
                <td class="datos"></td>
                <td class="datos"></td>
                <td class="datos"></td>
                <td class="datos"></td>
                <td class="datos"></td>
            </tr>
        </table>
    </div>
    <div class="cuentas">
        <div class="borde control">
            <div class="emision">
                <p><b>Tipo de cambio</b>: 6.96</p>
                <p><b>Fecha Límite de Emisión:</b> {{contex.arfapar[0].strftime('%d/%m/%Y')}}</p>
            </div>
            <div class="codigo">
                <br>
                <p><b>Código de Control:</b> {{contex.head[17]}}</p>
            </div>
        </div>
        <div class="borde subtotal">
            {% if (((contex.head[11]%1)*100) | round | int )%10 == 0 %}
            {% if contex.head[15] == 'D' %}
            <div><span> {{"{:,}".format(contex.head[11] | round(2) ) }}0</span><b>Subtotal $us</b> :</div>
            <div><span> {{"{:,}".format((contex.head[11]*6.96) | round(2) )}}</span><b>Subtotal Bs</b> :</div>
            {% else %}
            <div><span> {{"{:,}".format(contex.head[11])}}0</span><b>Subtotal Bs</b> :</div>
            {% endif %}
            <div><span> {{contex.head[20]}}0</span><b>Descuento Bs</b> :</div>
            {% else %}
            {% if contex.head[15] == 'D' %}
            <div><span> {{"{:,}".format(contex.head[11] | round(2) ) }}</span><b>Subtotal $us</b> :</div>
            <div><span> {{"{:,}".format((contex.head[11]*6.96) | round(2) ) }}</span><b>Subtotal Bs</b> :</div>
            {% else %}
            <div><span> {{"{:,}".format(contex.head[11])}}</span><b>Subtotal Bs</b> :</div>
            {% endif %}
            <div><span> {{contex.head[20]}}0</span><b>Descuento Bs</b> :</div>
            {% endif %}
        </div>
    </div>
    <div class="total">
        <div class="borde texto_dinero">
            <p><b>SON:</b> {{contex.dinero_texto}}</p>
        </div>
        <div class="borde numero">
            {% if (((contex.head[11]%1)*100 | round | int )%10) == 0 %}
            {% if contex.head[15] == 'D' %}
            <p><b>TOTAL BS :</b>{{"{:,}".format((contex.head[11]*6.96) | round(2)  ) }}</p>
            {% else %}
            <p><b>TOTAL BS :</b>{{"{:,}".format(contex.head[11] | round(2) )}}0</p>
            {% endif%}
            {% else %}
            {% if contex.head[15] == 'D' %}
            <p><b>TOTAL BS :</b>{{"{:,}".format((contex.head[11]*6.96) | round(2)  ) }}</p>
            {% else %}
            <p><b>TOTAL BS :</b>{{"{:,}".format(contex.head[11] | round(2) )}}</p>
            {% endif%}
            {% endif %}
        </div>
    </div>
    <div class="ley-qr">
        <div class="ley texto">
            <p class="ley_texto">
                <p>
                    LA CASILLA "TOTAL" ES EL IMPORTE BASE PARA CRÉDITO FISCAL
                </p>
                <p>
                    CUALQUIER DEVOLUCIÓN DEBERÁ REALIZARSE DENTRO EL TÉRMINODE 3 DÍAS DE GIRADA ESTA FACTURA
                </p>
                <p>
                    "ESTA FACTURA CONTRIBUYE AL DESARROLLO DEL PAÍS, EL USO ILÍCITO DE ESTÁ SERA SANCIONADO DE
                    ACUERDO A
                    LA LEY"
                </p>
                <p>{{contex.arfapar[2]}}</p>
            </p>
        </div>
        <div class="qr">
            <img src="{{ qrcode("asdfadf",box_size=5) }}">
        </div>
    </div>


</body>

</html>