{% extends 'bootstrap/base.html' %}
{% block head %}
    {{ super() }}
    <meta charset="UTF-8">
    <title>
        {% block title %}Facturacion |{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
{% endblock %}

{% block body %}
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}

    {% block content %}
    {% endblock %}
    {% block scripts %}
        <script src="{{ url_for('static',filename='js/script.js')}}" charset="UTF-8"></script>
        {{ super() }}
    {% endblock %}
{% endblock %}